body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
.p{
  text-align:right;
}
  h1 {
    color: #ffffff;
    margin-left: 30px;
    text-align: center;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.text{
  background-color: #333; /* Цвет фона меню */
  display: flex;
  justify-content: center;
}


.menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-item {
  margin: 0 15px;
  position: relative;
}

.menu-item a {
  text-decoration: none;
  color: #fff; /* Цвет ссылок в меню */
}

/* Анимация при наведении на пункты меню */
.menu-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Высота линии */
  background-color: #ff0000e7; /* Цвет линии */
  transform: scaleX(0); /* Начальное значение ширины */
  transform-origin: right;
  transition: transform 0.3s;
}

.menu-item:hover::before {
  transform: scaleX(1); /* Увеличение ширины при наведении */
  transform-origin: left;
}


  

